@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/open-sans.light-webfont.woff2") format("woff2"),
    url("../fonts/open-sans.light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanssemibold";
  src: url("../fonts/open-sans.semibold-webfont.woff2") format("woff2"),
    url("../fonts/open-sans.semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/open-sans.regular-webfont.woff2") format("woff2"),
    url("../fonts/open-sans.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 255, 0, 0.3);
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "open_sansregular", Helvetica, sans-serif;
  font-size: 17px;
  color: #333;
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

input,
textarea,
select {
  font-family: "open_sansregular", Helvetica, sans-serif;
}

a {
  color: #333;
}

a:hover,
.submit:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "open_sanslight";
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

#home {
  background-color: #d1a222;
  padding: 2% 0 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  width: 80px;
}

header h1 a {
  display: block;
}

header h1 a img {
  width: 100%;
}

header nav {
}

header nav ul {
}

header nav ul li {
  display: inline-block;
  margin-right: 35px;
}

header nav ul li:last-child {
  margin-right: 0px;
}

header nav ul li a {
  color: white;
  font-family: "open_sanssemibold";
  font-size: 18px;
}

#spotlight {
  margin-top: 12%;
  text-align: center;
}

#spotlight h1 {
  font-family: "open_sanssemibold";
  font-size: 70px;
  color: white;
}

#spotlight p {
  margin: 20px auto;
  color: white;
  font-family: "open_sanslight";
  width: 80%;
}

#spotlight a.button {
  padding: 20px 55px;
  font-size: 18px;
  background-color: #2d2d2d;
  color: white;
  margin: 20px 0;
  border-radius: 30px;
  display: inline-block;
}

#about {
  background: #2d2d2d;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

#about section.widget {
  width: 33.3%;
  padding: 100px 60px;
  text-align: center;
}

#about section.widget.middle {
  background: #262626;
  border-left: 1px solid #d1a222;
  border-right: 1px solid #d1a222;
}

#about section.widget.last {
}

#about section.widget span.round-icon {
  width: 120px;
  height: 120px;
  border: 2px solid #d1a222;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#about section.widget span.round-icon small {
  width: 86px;
  height: 80px;
  background-image: url(../images/sprite.png);
  background-position: -155px -79px;
  display: inline-block;
}

#about section.widget.middle span.round-icon small {
  background-position: 7px -77px;
}

#about section.widget.last span.round-icon small {
  background-position: -71px -77px;
}

#about section.widget h3 {
  font-size: 45px;
  color: #d1a222;
  margin: 10px 0;
}

#about section.widget p {
}

#middle {
  padding: 70px 0;
}

#middle div.head {
  text-align: center;
  margin-bottom: 60px;
}

#middle div.head h2 {
  font-size: 45px;
  color: #d1a222;
  font-family: "open_sanssemibold";
}

#middle ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#middle li.card {
  width: 38%;
  text-align: center;
  padding: 60px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#middle li.card a {
  display: block;
}

#middle li.card a img {
  width: 90px;
}

#middle li.card h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px 0 15px;
}

#middle li.card h3 a {
  color: #d1a222;
  font-family: "open_sanssemibold";
}

#middle li.card p {
  color: gray;
  margin-bottom: 15px;
}

#middle li.card a.button {
  display: inline-block;
  padding: 20px 55px;
  background: #d1a222;
}

#main {
}

#main section.content-item section.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  flex-wrap: wrap;
}

#main section.content-item.bg {
  background-color: #d1a222;
}

#main section.content-item div.img-container {
  width: 35%;
}
#main section.content-item div.img-container img {
  width: 100%;
}

#main section.content-item div.content {
  width: 50%;
}

#main section.content-item div.content h3 {
  font-size: 50px;
  margin-bottom: 30px;
}

#main section.content-item.bg div.content h3 {
  color: white;
}

#main section.content-item.bg div.content p {
  color: white;
}

#main section.content-item div.content p {
}

footer {
}

footer section.top {
  background-color: #2d2d2d;
  padding: 60px;
}

footer section.top section.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer section.top section.wrapper div.item {
  width: 30%;

  text-align: center;
}

footer section.top section.wrapper div.item img {
  width: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer section.top section.wrapper div.item a {
  color: white;
  display: block;
}

footer section.top section.wrapper div.item p {
  color: white;
}

footer section.bottom {
  background-color: black;
  padding: 20px 0;
}

footer section.bottom section.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

footer section.bottom section.wrapper p.left {
}

footer section.bottom section.wrapper p.right a {
  color: whitesmoke;
}
@media all and (max-width: 768px) {
  #about section.widget {
    padding: 60px 25px;
  }

  #middle li.card {
    padding: 30px;
  }
  #about section.widget.middle {
    border-left: none;
    border-right: none;
    border-top: 1px solid #d1a222;
    border-bottom: 1px solid #d1a222;
  }
}
@media all and (max-width: 640px) {
  #spotlight h1 {
    font-size: 36px;
  }
  #about section.widget {
    width: 100%;
  }
  #middle div.head h2 {
    font-size: 30px;
  }
  #middle li.card {
    width: 100%;
  }
  #main section.content-item div.img-container,
  #main section.content-item div.content {
    width: 100%;
  }
  p {
    text-align: justify;
  }
}
@media all and (max-width: 480px) {
  header {
    justify-content: center;
  }
  header nav {
    display: none;
  }
  #spotlight h1 {
    font-size: 26px;
  }
  footer section.top section.wrapper div.item {
    width: 100%;
  }
}
